.map {
  width: 100%;
  height: 350px; /* ارتفاع بهتر برای نمایش کامل نقشه */
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

/* باکس اطلاعات یا text روی نقشه */
.details {
  position: absolute;
  bottom: 20px;
  left: 20px;
  background: #ffffff;
  padding: 15px 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  width: auto;
  max-width: 280px;
}

.details h3 {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
}

.details span {
  color: gray;
  font-size: 14px;
}

.details p {
  margin-top: 0.5rem;
  margin-bottom: 0.3rem;
  font-size: 14px;
  color: #3f3d3d;
}

.details a {
  color: #007bff;
  text-decoration: underline;
  margin-top: 0.5rem;
  font-size: 14px;
}

@media (max-width: 768px) {
  .map {
    height: 300px;
  }

  .details {
    bottom: 10px;
    left: 10px;
    padding: 10px 15px;
  }
}
